<div *ngIf="appointments$ | async as appointments; else loadingError">
  <div class="row">
    <div class="col-12 pb-4">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="opened-filter-switch"
          [(ngModel)]="filterSwitches.opened"
        />
        <label class="form-check-label" for="opened-filter-switch"
          >Mostrar Agendados</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="finished-filter-switch"
          [(ngModel)]="filterSwitches.finished"
        />
        <label class="form-check-label" for="finished-filter-switch"
          >Mostrar Finalizados</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="cancelled-filter-switch"
          [(ngModel)]="filterSwitches.cancelled"
        />
        <label class="form-check-label" for="cancelled-filter-switch"
          >Mostrar Cancelados</label
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12 col-xs-12 mt-md-0 mt-2">
      <div class="d-flex">
        <input
          class="form-control"
          type="search"
          placeholder="Digite o nome do paciente"
          aria-label="Search"
          id="search"
          [(ngModel)]="filter"
        />
        <button
          type="button"
          class="btn btn-clear clear ms-2"
          (click)="filter = ''"
        >
          Limpar
        </button>
      </div>
    </div>
    <div class="col text-md-end text-sm-start text-start pt-md-0 pt-sm-4 pt-4">
      <a type="button" class="btn btn-primary" [routerLink]="['novo']"
        >Novo Agendamento <i class="fas fa-plus-circle"></i
      ></a>
    </div>
  </div>
  <div class="table-responsive">
    <table class="mt-3 table table-striped table-hover align-middle">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Paciente</th>
          <th scope="col">Médico</th>
          <th scope="col">Data Agendada</th>
          <th scope="col">Início</th>
          <th scope="col">Término</th>
          <th scope="col">Situação</th>
          <th scope="col">Ações</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-link">
        <tr
          *ngFor="
            let appointment of showData(appointments)
              | pagination: page:itemsPerPage;
            let i = index
          "
        >
          <th scope="row">{{ i + 1 + (page - 1) * itemsPerPage }}</th>
          <td>{{ appointment.id }}</td>
          <td>
            {{ appointment.patient.name + " " + appointment.patient.surname }}
          </td>
          <td>
            {{ appointment.medic.name + " " + appointment.medic.surname }}
          </td>
          <td>{{ appointment.scheduledDate }}</td>
          <td>{{ appointment.startTime }}</td>
          <td>{{ appointment.endTime }}</td>
          <td>
            <span
              class="appointment-label"
              [ngClass]="
                situationLabelBackground(appointment.appointmentSituation)
              "
              >{{ appointment.appointmentSituation }}</span
            >
          </td>
          <td>
            <button
              *ngIf="appointment.appointmentSituation === 'AGENDADO'"
              type="button"
              title="Editar"
              class="btn btn-round btn-outline-edit me-2"
              [routerLink]="['editar/', appointment.id]"
            >
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button
              *ngIf="appointment.appointmentSituation === 'AGENDADO'"
              type="button"
              title="Deletar"
              class="btn-round btn-outline-delete me-2"
              (click)="onDelete(appointment)"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
            <button
              type="button"
              title="Visualizar"
              class="btn-round btn-outline-view me-2"
              [routerLink]="['visualizar/', appointment.id]"
            >
              <i class="fas fa-eye"></i>
            </button>
          </td>
          <td>
            <a
              *ngIf="appointment.appointmentSituation === 'AGENDADO'"
              [routerLink]="['/iniciar-atendimentos/novo']"
              [queryParams]="{ agendamento: appointment.id }"
              >Criar Atendimento <i class="fas fa-external-link-alt"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mb-3 d-flex justify-content-center">
    <pagination
      [totalItems]="showData(appointments).length"
      [itemsPerPage]="itemsPerPage"
      [maxSize]="paginationSize"
      (pageChanged)="pageChanged($event)"
      [(ngModel)]="currentPage"
      [boundaryLinks]="true"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
    <br />
  </div>
</div>

<ng-template #loadingError>
  <div *ngIf="error | async; else loading">
    <div
      style="height: 80vh"
      class="d-flex flex-column align-items-center justify-content-center"
    >
      <p style="font-size: 1.65rem">Erro ao carregar pacientes.</p>
      <button
        type="button"
        class="btn btn-lg btn-secondary"
        (click)="reloadPage()"
      >
        Tentar Novamente <i class="fas fa-sync-alt"></i>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <div
    style="height: 80vh"
    class="d-flex align-items-center justify-content-center"
  >
    <div class="loader"></div>
  </div>
</ng-template>
