<div *ngIf="checkUps$ | async as checkUps; else loading">
  <div class="row">
    <div class="pt-4 pb-md-0 pb-3 col-md-3">
      <a class="fs-5 display-1 back" (click)="onBack()"
        ><i class="fas fa-arrow-left"></i><span class="ms-2">Voltar</span></a
      >
    </div>
    <h1 class="text-center pb-5">Página do Paciente</h1>
  </div>
  <div class="row border mb-4" style="border-radius: 10px">
    <span class="mb-3"></span>
    <div class="col-md-2 col-12">
      <img
        src="../../../assets/images/user_profile.jpg"
        class="img-fluid d-block mx-md-0 mx-auto"
        style="width: 155px"
      />
    </div>
    <div class="col-md-8 col-10">
      <div class="row">
        <h3 class="mt-md-0 mt-3 pb-3">
          {{ patient.name + " " + patient.surname }}
        </h3>
        <div class="col-md-8 col-sm-12">
          <h6>Nascimento: {{ patient.birthDate }}</h6>
          <h6>Total de Consultas: {{ checkUps.length }}</h6>
          <h6>CPF: {{ patient.cpf }}</h6>
        </div>
        <div class="col-md-4 col-sm-12">
          <h6>Tel. Residencial: {{ patient.homePhone }}</h6>
          <h6>Tel. Celular: {{ patient.mobilePhone }}</h6>
          <h6>E-Mail: {{ patient.email }}</h6>
        </div>
        <h6>
          <a
            type="button"
            class="link-primary"
            (click)="viewPatientFullDetails()"
            >Ver todos os dados
          </a>
        </h6>
      </div>
    </div>
    <div class="col-md-2 col-12 text-end">
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Ações
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownMenuButton1"
        >
          <li>
            <a
              class="dropdown-item"
              [routerLink]="['/pacientes/editar/', patient.id]"
            >
              <div class="row">
                <div class="col-6">Editar</div>
                <div class="col-6 text-end">
                  <i class="fa fa-edit"></i>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a type="button" class="dropdown-item" (click)="onDelete(patient)">
              <div class="row">
                <div class="col-6">Deletar</div>
                <div class="col-6 text-end">
                  <i class="fa fa-trash-alt"></i>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-secondary mb-3"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseBasic"
  >
    Filtros <i class="fas fa-arrows-alt-v"></i>
  </button>
  <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
    <div class="row">
      <div class="pb-3">
        <div class="row">
          <div class="col-12 pt-2 pb-3">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="opened-filter-switch"
                [(ngModel)]="filterSwitches.finished"
              />
              <label class="form-check-label" for="opened-filter-switch"
                >Mostrar Finalizados</label
              >
            </div>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="cancelled-filter-switch"
                [(ngModel)]="filterSwitches.cancelled"
              />
              <label class="form-check-label" for="cancelled-filter-switch"
                >Mostrar Cancelados</label
              >
            </div>
          </div>
          <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <label for="medic" class="form-label">Médico:</label>
            <ng-select
              [items]="medics"
              (change)="setFilterMedic($event)"
              bindLabel="searchLabel"
              labelForId="medic"
              placeholder="Selecione o médico"
              clearAllText="Limpar"
              [compareWith]="compareFnMedic"
              [loading]="medicsLoading"
              notFoundText="Nenhum item encontrado"
              [virtualScroll]="true"
            >
              <ng-template ng-label-tmp let-item="item">
                {{ item.name + " " + item.surname }}
              </ng-template>
              <ng-template
                ng-option-tmp
                let-item="item"
                let-index="index"
                let-search="searchTerm"
              >
                <div style="margin: 10px 0" class="card">
                  <div class="card-body">
                    <h5 class="card-title">
                      {{ item.name + " " + item.surname }}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      CPF: {{ item.cpf }}
                    </h6>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Telefone: {{ item.mobilePhone }}
                    </h6>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 pt-lg-0 pt-3">
            <label for="dateRangeStart" class="form-label"
              >Intervalo
              <span class="text-muted" style="font-size: 14px"
                >(início-fim)</span
              >:</label
            >
            <input
              type="text"
              bsDaterangepicker
              [(ngModel)]="dateRange"
              [bsConfig]="datepickerConfig"
              class="form-control"
              id="dateRangeStart"
              placeholder="Data Inicial"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 mb-5">
    <div class="row">
      <div
        class="col-md-12"
        *ngIf="showData(checkUps).length > 0; else noCheckUpFound"
      >
        <h4>Atendimentos</h4>
        <ul class="timeline">
          <li class="checkUp-list" *ngFor="let checkUp of showData(checkUps)">
            <div class="row">
              <div class="col-12">
                <span
                  class="fs-4"
                  [ngClass]="cancelledCheckUpSituationTextColor(checkUp)"
                >
                  <strong
                    >{{ checkUp.checkUpHeader.date
                    }}{{
                      checkUp.checkUpSituation === "CANCELADO"
                        ? " - " + checkUp.checkUpSituation
                        : ""
                    }}</strong
                  >
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-12">
                <span>
                  {{
                    checkUp.checkUpHeader.medic.gender === "Masculino"
                      ? "Dr."
                      : "Dra."
                  }}
                  {{
                    checkUp.checkUpHeader.medic.name +
                      " " +
                      checkUp.checkUpHeader.medic.surname
                  }}
                </span>
              </div>
              <div class="col-md-4 col-12 text-md-end">
                <span
                  >Duração do atendimento:
                  {{
                    getCheckUpDuration(
                      checkUp.checkUpHeader.startTime,
                      checkUp.checkUpHeader.endTime
                    )
                  }}</span
                >
              </div>
            </div>
            <div class="row check-up-info">
              <accordion class="pt-3">
                <accordion-group
                  heading="Anamnese"
                  [isDisabled]="checkUp.checkUpSituation === 'CANCELADO'"
                >
                  <div class="pb-2">
                    <strong>Queixa:</strong>
                  </div>
                  <p class="border pt-1 pb-1 ps-2">
                    <span>{{ checkUp.complaint }}</span>
                  </p>
                  <div class="pb-2">
                    <strong>História da Doença:</strong>
                  </div>
                  <p class="border pt-1 pb-1 ps-2">
                    <span>{{ checkUp.diseaseHistory }}</span>
                  </p>
                  <div class="pb-2">
                    <strong>História da Família:</strong>
                  </div>
                  <p class="border pt-1 pb-1 ps-2">
                    <span>{{ checkUp.familyHistory }}</span>
                  </p>
                  <div class="pb-2">
                    <strong>História Pessoal:</strong>
                  </div>
                  <p class="border pt-1 pb-1 ps-2">
                    <span>{{ checkUp.patientHistory }}</span>
                  </p>
                  <div class="pb-2">
                    <strong>CID:</strong>
                  </div>
                  <p class="border pt-1 pb-1 ps-2">
                    <span>{{ checkUp.disease.description }}</span>
                  </p>
                  <div class="pb-2">
                    <strong>Conduta:</strong>
                  </div>
                  <p class="border pt-1 pb-1 ps-2">
                    <span>{{ checkUp.conduct }}</span>
                  </p>
                  <div class="pt-2 text-end">
                    <button
                      type="button"
                      title="Imprimir Atestado"
                      class="btn-round btn-outline-print me-2"
                      (click)="printDocument(checkUp, 'statement')"
                    >
                      <i class="fas fa-print"></i>
                    </button>
                  </div>
                </accordion-group>
                <accordion-group
                  heading="Receituário"
                  [isDisabled]="checkUp.checkUpSituation === 'CANCELADO'"
                >
                  <div class="pb-2">
                    <strong>Receituário:</strong>
                  </div>
                  <p class="border pt-1 pb-1 ps-2 ps-2">
                    <span>{{ checkUp.prescription }}</span>
                  </p>
                  <div class="pt-2 text-end">
                    <button
                      type="button"
                      title="Imprimir Receita"
                      class="btn-round btn-outline-print me-2"
                      (click)="printDocument(checkUp, 'prescription')"
                    >
                      <i class="fas fa-print"></i>
                    </button>
                  </div>
                </accordion-group>
                <accordion-group
                  heading="Exames"
                  [isDisabled]="checkUp.checkUpSituation === 'CANCELADO'"
                >
                  <div class="pb-2">
                    <strong>Exames:</strong>
                  </div>
                  <p class="border pt-1 pb-1 ps-2">
                    <span>{{ checkUp.exams }}</span>
                  </p>
                  <div class="pt-2 text-end">
                    <button
                      type="button"
                      title="Imprimir Exames"
                      class="btn-round btn-outline-print me-2"
                      (click)="printDocument(checkUp, 'exams')"
                    >
                      <i class="fas fa-print"></i>
                    </button>
                  </div>
                </accordion-group>
              </accordion>
            </div>
            <div class="pt-4">
              <div class="text-end">
                <button
                  *ngIf="checkUp.checkUpSituation !== 'CANCELADO'"
                  type="button"
                  title="Deletar"
                  class="btn-round btn-outline-delete me-2"
                  (click)="onCheckUpCancel(checkUp.id)"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
                <hr />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- MODAIS -->
<app-per-patient-details-modal
  [patient]="patient"
  #patientFullDetailsModal
></app-per-patient-details-modal>

<app-statement-print-model #printStatement></app-statement-print-model>

<app-prescription-print-model
  [checkUp]="checkUp"
  #printPrescription
></app-prescription-print-model>

<app-exams-print-model [checkUp]="checkUp" #printExams></app-exams-print-model>

<!-- TEMPLATES -->
<ng-template #loadingError>
  <div *ngIf="error | async; else loading">
    <div
      style="height: 80vh"
      class="d-flex flex-column align-items-center justify-content-center"
    >
      <p style="font-size: 1.65rem">Erro ao carregar atendimentos.</p>
      <button
        type="button"
        class="btn btn-lg btn-secondary"
        (click)="reloadPage()"
      >
        Tentar Novamente <i class="fas fa-sync-alt"></i>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <div
    style="height: 80vh"
    class="d-flex align-items-center justify-content-center"
  >
    <div class="loader"></div>
  </div>
</ng-template>

<ng-template #noCheckUpFound>
  <div class="text-center"><strong>Nenhum atendimento encontrado.</strong></div>
</ng-template>
