<div class="row">
  <div class="col-md-12">
    <div class="pt-4 pb-md-0 pb-3 col-md-3">
      <a class="fs-5 display-1 back" (click)="onBack()"
        ><i class="fas fa-arrow-left"></i><span class="ms-2">Voltar</span></a
      >
    </div>
    <h1 class="text-center pb-4">Realização de Agendamentos</h1>
  </div>
</div>
<div>
  <tabset>
    <tab #tabCalendar="tab" heading="Calendário" id="tab1" class="pt-4">
      <app-appointment-calendar
        *ngIf="tabCalendar.active"
      ></app-appointment-calendar>
    </tab>
    <tab
      #tabList="tab"
      heading="Lista"
      id="tab2"
      class="pt-4"
      (selectTab)="selectListTab()"
      [active]="activeListTab()"
    >
      <app-appointment-list *ngIf="tabList.active"></app-appointment-list>
    </tab>
  </tabset>
</div>
