#unauthorized {
  position: relative;
  height: 100vh;
}

#unauthorized .unauthorized {
  position: absolute;
  left: 50%;
  top: 42.5%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.unauthorized-bg {
  background: url('../../../assets/images/403-bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 42.5%;
  background-size: 350px;
}

.unauthorized {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  padding: 0px 15px;
}

.unauthorized .unauthorized-403 {
  position: relative;
  height: 150px;
  line-height: 150px;
  margin-bottom: 25px;
}

.unauthorized .unauthorized-403 h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 186px;
  font-weight: 900;
  margin: 0px;
  text-transform: uppercase;
  background: url('../../../assets/images/error-status-bg.png');
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.unauthorized h2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.unauthorized p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.unauthorized a:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
  .unauthorized .unauthorized-403 {
    height: 110px;
    line-height: 110px;
  }

  .unauthorized .unauthorized-403 h1 {
    font-size: 120px;
  }
}
