<h1 class="mt-4">{{ formType }} Paciente</h1>
<form class="mt-4 row g-3 needs-validation" novalidate [formGroup]="form">
  <div class="col-md-12">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome"
    [ngClass]="applyValidationClass('nome')">
    <div class="invalid-feedback" *ngIf="form.get('nome').errors?.['required']">
      Campo é obrigatório.
    </div>
    <div class="invalid-feedback" *ngIf="form.get('nome').errors?.['maxlength']">
      Campo deve possuir no máximo 35 caracteres.
    </div>
    <div class="valid-feedback">
      Parece bom.
    </div>
  </div>
  <div class="col-md-12">
    <label for="sobrenome" class="form-label">Sobrenome</label>
    <input type="text" class="form-control" id="sobrenome" formControlName="sobrenome" placeholder="Sobrenome"
    [ngClass]="applyValidationClass('sobrenome')">
    <div class="invalid-feedback" *ngIf="form.get('sobrenome').errors?.['required']">
      Campo é obrigatório.
    </div>
    <div class="invalid-feedback" *ngIf="form.get('sobrenome').errors?.['maxlength']">
      Campo deve possuir no máximo 35 caracteres.
    </div>
    <div class="valid-feedback">
      Parece bom.
    </div>
  </div>
  <div class="col-md-12">
    <label for="nascimento" class="form-label">Nascimento</label>
    <input type="date" class="form-control" id="nascimento" formControlName="nascimento" placeholder="Nascimento"
    [ngClass]="applyValidationClass('nascimento')">
    <div class="invalid-feedback" *ngIf="form.get('nascimento').errors?.['required']">
      Campo é obrigatório.
    </div>
    <div class="invalid-feedback" *ngIf="form.get('nascimento').errors?.['maxlength']">
      Campo deve possuir no máximo 35 caracteres.
    </div>
    <div class="valid-feedback">
      Parece bom.
    </div>
  </div>
  <div class="col-md-12">
    <label for="sexo" class="form-label">Sexo</label>
    <input type="text" class="form-control" id="sexo" formControlName="sexo" placeholder="Sexo"
    [ngClass]="applyValidationClass('sexo')">
    <div class="invalid-feedback" *ngIf="form.get('sexo').errors?.['required']">
      Campo é obrigatório.
    </div>
    <div class="invalid-feedback" *ngIf="form.get('sexo').errors?.['maxlength']">
      Campo deve possuir no máximo 35 caracteres.
    </div>
    <div class="valid-feedback">
      Parece bom.
    </div>
  </div>
  <div class="col-md-12">
    <label for="rg" class="form-label">RG</label>
    <input type="text" class="form-control" id="rg" formControlName="rg" placeholder="RG"
    [ngClass]="applyValidationClass('rg')">
    <div class="invalid-feedback" *ngIf="form.get('rg').errors?.['required']">
      Campo é obrigatório.
    </div>
    <div class="invalid-feedback" *ngIf="form.get('rg').errors?.['maxlength']">
      Campo deve possuir no máximo 35 caracteres.
    </div>
    <div class="valid-feedback">
      Parece bom.
    </div>
  </div>
  <div class="col-md-12">
    <label for="cpf" class="form-label">CPF</label>
    <input type="text" class="form-control" id="cpf" formControlName="cpf" placeholder="CPF"
    [ngClass]="applyValidationClass('cpf')">
    <div class="invalid-feedback" *ngIf="form.get('cpf').errors?.['required']">
      Campo é obrigatório.
    </div>
    <div class="invalid-feedback" *ngIf="form.get('cpf').errors?.['maxlength']">
      Campo deve possuir no máximo 35 caracteres.
    </div>
    <div class="valid-feedback">
      Parece bom.
    </div>
  </div>
  <div class="mb-5">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
    <button type="button" class="ms-2 btn btn-danger" (click)="onCancel()">Cancelar</button>
  </div>
</form>

    <!--<ng-template [ngTemplateOutlet]="outlet" [ngOutletContext]="context"></ng-template><ng-template #maxlengthError>
      <div class="invalid-feedback">
        mt grande cachorro.
      </div>
    </ng-template>-->
