<div class="d-flex flex-column h-100">
  <h1 class="text-center pt-5 display-4">Bem-vindo(a) de volta!</h1>
  <div class="container container-padding">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
      <div class="pb-5 pt-4 pt-lg-1 pt-xl-0 col d-flex justify-content-center">
        <a [routerLink]="['/pacientes']" [queryParams]="{ pagina: 1 }" class="icon-link">
          <div class="card">
            <div class="text-center card-icon"><i class="fas fa-head-side-mask"></i></div>
            <div class="card-body">
              <h5 class="text-center card-title h3">Pacientes</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="pb-5 pt-4 pt-lg-1 pt-xl-0 col d-flex justify-content-center">
        <a [routerLink]="['/medicos']" [queryParams]="{ pagina: 1 }" class="icon-link">
          <div class="card">
            <div class="text-center card-icon"><i class="fas fa-user-md"></i></div>
            <div class="card-body">
              <h5 class="text-center card-title h3">Médicos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="pb-5 pt-4 pt-lg-1 pt-xl-0 col d-flex justify-content-center">
        <a [routerLink]="['/funcionarios']" [queryParams]="{ pagina: 1 }" class="icon-link">
          <div class="card">
            <div class="text-center card-icon"><i class="fas fa-user-tie"></i></div>
            <div class="card-body">
              <h5 class="text-center card-title h3">Funcionários</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="pb-5 pt-3 pt-lg-4 col d-flex justify-content-center">
        <a [routerLink]="['/agendamentos']" class="icon-link">
          <div class="card">
            <div class="text-center card-icon"><i class="fas fa-calendar-check"></i></div>
            <div class="card-body">
              <h5 class="text-center card-title h3">Agendamentos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="pb-5 pt-3 pt-lg-4 col d-flex justify-content-center">
        <a asp-area="" asp-controller="Produtos" asp-action="Index" class="icon-link">
          <div class="card">
            <div class="text-center card-icon"><i class="fas fa-file-alt"></i></div>
            <div class="card-body">
              <h5 class="text-center card-title h3">Atendimentos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="pb-5 pt-3 pt-lg-4 col d-flex justify-content-center">
        <a asp-area="" asp-controller="Movimentacoes" asp-action="Index" class="icon-link">
          <div class="card">
            <div class="text-center card-icon"><i class="fas fa-book-medical"></i></div>
            <div class="card-body">
              <h5 class="text-center card-title h3">PEP</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
