<h1 class="mt-4">Visualizar Paciente</h1>
<div>
  <h4 class="pt-4">Paciente</h4>
  <hr>
  <dl class="row">
    <dt class="col-sm-2">
      ID:
    </dt>
    <dd class="col-sm-10">
      {{ paciente.id }}
    </dd>
    <dt class="col-sm-2">
      Nome:
    </dt>
    <dd class="col-sm-10">
      {{ paciente.nome }}
    </dd>
    <dt class="col-sm-2">
      Sobrenome:
    </dt>
    <dd class="col-sm-10">
      {{ paciente.sobrenome }}
    </dd>
    <dt class="col-sm-2">
      Nascimento:
    </dt>
    <dd class="col-sm-10">
      {{ paciente.nascimento }}
    </dd>
    <dt class="col-sm-2">
      RG:
    </dt>
    <dd class="col-sm-10">
      {{ paciente.rg }}
    </dd>
    <dt class="col-sm-2">
      CPF:
    </dt>
    <dd class="col-sm-10">
      {{ paciente.cpf }}
    </dd>
    <dt class="col-sm-2">
      E-mail:
    </dt>
    <dd class="col-sm-10">
      {{ paciente.email }}
    </dd>
    <dt class="col-sm-2">
      CEP:
    </dt>
    <dd class="col-sm-10">
      {{ paciente.cep }}
    </dd>
    <dt class="col-sm-2">
      Cidade:
    </dt>
    <dd class="col-sm-10">
      {{ paciente.cidade }}
    </dd>
    <dt class="col-sm-2">
      Estado:
    </dt>
    <dd class="col-sm-10">
      {{ paciente.estado }}
    </dd>
    <dt class="col-sm-2">
      Endereço:
    </dt>
    <dd class="col-sm-10">
      {{ paciente.endereco }}
    </dd>
    <dt class="col-sm-2">
      Número:
    </dt>
    <dd class="col-sm-10">
      {{ paciente.numero }}
    </dd>
    <dt class="col-sm-2">
      Complemento:
    </dt>
    <dd class="col-sm-10">
      {{ paciente.complemento }}
    </dd>
  </dl>
</div>
<div class="pt-4 mb-5">
  <button type="button" class="btn btn-primary" [routerLink]="['../../editar/', paciente.id]">Editar</button>
  <button type="button" class="ms-2 btn btn-secondary" (click)="onBackToList()">Voltar a Lista</button>
</div>
