<h1 class="mt-4">{{ formType }} Agendamento</h1>
<form class="mt-4 row g-3 needs-validation" novalidate [formGroup]="form">
  <div class="col-xl-2">
    <label for="data" class="form-label">Data</label>
    <input type="date" class="form-control" id="data" formControlName="data" [ngClass]="applyValidationClass('data')" readonly>
    <div class="invalid-feedback" *ngIf="form.get('data').errors?.['required']">
      Campo é obrigatório.
    </div>
    <div class="valid-feedback">
      Parece bom.
    </div>
  </div>
  <div class="col-xl-2">
    <label for="horario" class="form-label">Horário</label>
    <input type="text" class="form-control"  id="horario" formControlName="horario" [ngClass]="applyValidationClass('horario')" readonly>
    <div class="invalid-feedback" *ngIf="form.get('horario').errors?.['required']">
      Campo é obrigatório.
    </div>
    <div class="valid-feedback">
      Parece bom.
    </div>
  </div>
  <div class="col-12"></div>
  <div class="col-xl-6">
    <label for="paciente" class="form-label">Paciente</label>
    <select class="form-select" id="paciente" formControlName="paciente" [ngClass]="applyValidationClass('paciente')">
      <option value="null" disabled="true" [selected]="true">Selecione o paciente</option>
      <option *ngFor="let paciente of pacientes$ | async" [ngValue]="paciente">{{ paciente.nome + ' ' + paciente.sobrenome }}</option>t
    </select>
    <div class="invalid-feedback" *ngIf="form.get('paciente').errors?.['required']">
      Campo é obrigatório.
    </div>
    <div class="valid-feedback">
      Parece bom.
    </div>
  </div>
  <div class="col-12"></div>
  <div class="col-xl-6">
    <label for="medico" class="form-label">Médico</label>
    <select class="form-select" id="medico" formControlName="medico" [ngClass]="applyValidationClass('medico')">
      <option value="null" disabled="true" [selected]="true">Selecione o médico</option>
      <option *ngFor="let medico of medicos$ | async" [ngValue]="medico">{{ medico.nome + ' ' + medico.sobrenome }}</option>t
    </select>
    <div class="invalid-feedback" *ngIf="form.get('medico').errors?.['required']">
      Campo é obrigatório.
    </div>
    <div class="valid-feedback">
      Parece bom.
    </div>
  </div>
  <div class="pt-4 mb-5">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
    <button type="button" class="ms-2 btn btn-danger" (click)="onCancel()">Cancelar</button>
  </div>
</form>











<!--<ng-template #customItemTemplate let-model="item">
  <span>{{ model.nome + ' ' + model.sobrenome + '    CPF:' + model.cpf }}</span>
</ng-template>

<label for="states">States</label>
<input [(ngModel)]="selected"
       [typeahead]="pacientes"
       [typeaheadOptionsLimit]="15"
       (typeaheadOnSelect)="select($event.item)"
       class="form-control"
       id="states">
<button (click)="print()">Print</button>
<pre class="card card-block card-header mb-3">Model: {{selected | json}}</pre>

  <label for="pacientes">Pacientes</label>
  <input formControlName="paciente"
       [typeahead]="pacientes"
       typeaheadOptionField="nome"
       [typeaheadOptionsLimit]="15"
       (typeaheadOnSelect)="select($event.item)"
       class="form-control"
       id="pacientes">
  <button (click)="print()">Print</button>-->
