<ng-template #template>
  <div class="modal-content">
    <div class="modal-body">
      <span class="logo">TECHMEDICINE®</span>
      <div class="text-center pt-3">
        <h1 class="display-6">Solicitação de Exames</h1>
      </div>
      <div class="text-break col-12 pt-4">
        <div class="header">
          <hr />
          <div>
            <strong
              >Paciente:
              {{
                checkUp.checkUpHeader.patient.name +
                  " " +
                  checkUp.checkUpHeader.patient.surname
              }}
              - {{ "CPF: " + checkUp.checkUpHeader.patient.cpf }}
            </strong>
          </div>
          <div>
            <strong
              >Médico:
              {{
                checkUp.checkUpHeader.medic.gender === "Feminino"
                  ? "Dra."
                  : "Dr."
              }}
              {{
                checkUp.checkUpHeader.medic.name +
                  " " +
                  checkUp.checkUpHeader.medic.surname
              }}
              - {{ "CRM: " + checkUp.checkUpHeader.medic.crm }}</strong
            >
          </div>
          <div>
            <strong>Data: {{ checkUp.checkUpHeader.date }}</strong>
          </div>
          <hr />
        </div>
        <div class="pt-5">
          <div class="content pb-4">
            <span>{{ checkUp.exams }}</span>
          </div>
          <div class="pt-5 text-center">
            _____________________________________________________________
            <div>Assinatura do médico</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="close()">Voltar</button>
      <button class="btn btn-primary" (click)="printDocument()">
        Imprimir
      </button>
    </div>
  </div>
</ng-template>
