<h1 class="mt-4">{{ formType }} Medicamento</h1>
<form class="mt-4 row g-3 needs-validation" novalidate [formGroup]="form">
  <div class="col-12">
    <label for="description" class="form-label">Nome do Medicamento</label>
    <input
      type="text"
      class="form-control"
      id="description"
      formControlName="description"
      placeholder="Nome do medicamento"
      [ngClass]="applyValidationClass('description')"
    />
    <div
      class="invalid-feedback"
      *ngIf="form.get('description').errors?.['required']"
    >
      Campo é obrigatório.
    </div>
    <div
      class="invalid-feedback"
      *ngIf="form.get('description').errors?.['maxlength']"
    >
      Campo deve possuir no máximo 35 caracteres.
    </div>
    <div class="valid-feedback">Parece bom.</div>
  </div>
  <div class="pt-4 mb-5">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">
      Salvar
    </button>
    <button
      type="button"
      class="ms-2 btn btn-danger"
      [routerLink]="['/medicamentos']"
      [queryParams]="{ pagina: 1 }"
    >
      Cancelar
    </button>
  </div>
</form>
