.check-up-header-label-open {
  background-color: #3788d8;
}

.check-up-header-label-cancelled {
  background-color: #D90000;
}

.check-up-header-label-finished {
  background-color: #00b28e;
}

.check-up-header-label {
  font-family: Roboto-Bold, sans-serif;
  font-size: 13px;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  min-width: 20px;
  overflow-y: hidden;
  padding: 3px 12px;
  text-align: left;
  vertical-align: middle;
  width: auto;
}
