<nav class="navbar navbar-expand-lg navbar-dark bg-color-primary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">TECHMEDICINE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/home']" [routerLinkActive]="['active']"
            (isActiveChange)="onRouterLinkActiveHome($event)">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" [class.active]="dropdownTitleActive">
            {{ dropdownTitle }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"
                [routerLink]="['pacientes']" [queryParams]="{ pagina: 1 }"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ paths: 'subset', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' }"
                (isActiveChange)="onRouterLinkActive($event, 'Pacientes')">Cadastro de Pacientes</a></li>
            <li>
            <li><a class="dropdown-item"
                [routerLink]="['medicos']" [queryParams]="{ pagina: 1 }"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ paths: 'subset', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' }"
                (isActiveChange)="onRouterLinkActive($event, 'Médicos')">Cadastro de Médicos</a></li>
            <li><a class="dropdown-item" [routerLink]="['funcionarios']" [queryParams]="{ pagina: 1 }"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ paths: 'subset', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' }"
                (isActiveChange)="onRouterLinkActive($event, 'Funcionários')">Cadastro de Funcionários</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item"
                [routerLink]="['especialidades']" [queryParams]="{ pagina: 1 }"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ paths: 'subset', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' }"
                (isActiveChange)="onRouterLinkActive($event, 'Especialidades')">Cadastro de Especialidades</a></li>
            <li><a class="dropdown-item"
                [routerLink]="['cargos']" [queryParams]="{ pagina: 1 }"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ paths: 'subset', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' }"
                (isActiveChange)="onRouterLinkActive($event, 'Cargos')">Cadastro de Cargos</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" [class.active]="dropdownTitleActive2">
            {{ dropdownTitle2 }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"
                [routerLink]="['agendamentos']"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ paths: 'subset', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' }"
                (isActiveChange)="onRouterLinkActive2($event, 'Agendamentos')">Realizar Agendamento</a></li>
            <li>
            <li><a class="dropdown-item"></a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex me-1 mt-0 mb-0">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown dropstart">
            <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="far fa-user-circle text-white fs-2"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a type="button" class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer
  class="d-flex flex-wrap justify-content-between align-items-center footer mt-auto py-3 border-top bg-color-primary">
  <p class="text-center col-12 col-md-4 text-md-start ps-md-4 mb-md-0 text-light">&copy; 2021 TechMedicine, Inc</p>
  <a href="/"
    class="col-12 col-md-4 d-flex align-items-center justify-content-center text-light link-light text-decoration-none">
    <i class="fas fa-heartbeat" style="font-size: 40px;"></i>
  </a>
  <ul class="col-12 justify-content-center col-md-4 justify-content-md-end pe-md-4 nav">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Twitter</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Instagram</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Facebook</a></li>
    <!--<li class="nav-item"><a href="#" class="nav-link px-2 text-light">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-light">About</a></li>-->
  </ul>
</footer>
