.ng-autocomplete {
  width : auto;
}

.ng-autocomplete ::ng-deep .autocomplete-container {
  box-shadow: none;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
    transition: none;
  }
}
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input[type=file] {
  overflow: hidden;
}
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::-webkit-date-and-time-value {
  height: 1.5em;
}
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::placeholder {
  color: #6c757d;
  opacity: 1;
}
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input:disabled, ng-autocomplete[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
  .ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::file-selector-button {
    transition: none;
  }
}
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
}
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}

.ng-autocomplete-plaintext ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}
.ng-autocomplete-plaintextng-autocomplete-sm ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input, .ng-autocomplete-plaintextng-autocomplete-lg ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
  padding-right: 0;
  padding-left: 0;
}

.ng-autocomplete-sm ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.ng-autocomplete-sm ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::-webkit-file-upload-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
  margin-inline-end: 0.5rem;
}
.ng-autocomplete-sm ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::file-selector-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
  margin-inline-end: 0.5rem;
}
.ng-autocomplete-sm ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::-webkit-file-upload-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
  margin-inline-end: 0.5rem;
}

.ng-autocomplete-lg ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.ng-autocomplete-lg ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}
.ng-autocomplete-lg ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}
.ng-autocomplete-lg ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}

.textareang-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
  min-height: calc(1.5em + 0.75rem + 2px);
}
.textareang-autocomplete-sm ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
  min-height: calc(1.5em + 0.5rem + 2px);
}
.textareang-autocomplete-lg ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
  min-height: calc(1.5em + 1rem + 2px);
}

.ng-autocomplete-color ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
  width: 3rem;
  height: auto;
  padding: 0.375rem;
}
.ng-autocomplete-color ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.ng-autocomplete-color ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::-moz-color-swatch {
  height: 1.5em;
  border-radius: 0.25rem;
}
.ng-autocomplete-color  ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::-webkit-color-swatch {
  height: 1.5em;
  border-radius: 0.25rem;
}
