/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #3f51b5;
}

.bg-color-primary {
  background-color: var(--color-primary, white);
}

.text-color-primary {
  color: var(--color-primary, white);
}
