<ng-template #template>
  <div class="modal-content">
    <div class="modal-header" [ngClass]="modalBackgroundColor()">
      <h5 class="modal-title">
        Agendamento ID {{ appointment.id }} —
        {{
          appointment.scheduledDate +
            " " +
            appointment.startTime +
            "-" +
            appointment.endTime
        }}
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="close()"
      ></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xl-12 pb-4">
          <strong>Situação: </strong>
          <strong [ngStyle]="appointmentSituationTextColor()"
            ><span>{{ appointment.appointmentSituation }}</span></strong
          >
          <a
            *ngIf="appointment.appointmentSituation === 'AGENDADO'"
            class="ps-2"
            [routerLink]="['/iniciar-atendimentos/novo']"
            [queryParams]="{ agendamento: appointment.id }"
            >Criar Atendimento <i class="fas fa-external-link-alt"></i
          ></a>
        </div>
        <hr data-content="PACIENTE" class="hr-text" />
        <span class="pt-2"></span>
        <div class="col-lg-10 pb-4">
          <div class="cell-background cell-padding">
            <strong>Nome: </strong>
            <br />
            <span>{{
              appointment.patient.name + " " + appointment.patient.surname
            }}</span>
          </div>
        </div>
        <div class="col-lg-2 pb-4">
          <div class="cell-background cell-padding">
            <strong>Nascimento: </strong>
            <br />
            <span>{{ appointment.patient.birthDate }}</span>
          </div>
        </div>
        <div class="col-lg-4 pb-4">
          <div class="cell-background cell-padding">
            <strong>CPF: </strong>
            <br />
            <span>{{ appointment.patient.cpf }}</span>
          </div>
        </div>
        <div class="col-lg-4 pb-4">
          <div class="cell-background cell-padding">
            <strong>Tel. Residencial: </strong>
            <br />
            <span>{{
              appointment.patient.homePhone
                ? appointment.patient.homePhone
                : "-"
            }}</span>
          </div>
        </div>
        <div class="col-lg-4 pb-4">
          <div class="cell-background cell-padding">
            <strong>Tel. Celular: </strong>
            <br />
            <span>{{ appointment.patient.mobilePhone }}</span>
          </div>
        </div>
        <span class="pt-4"></span>
        <hr data-content="MÉDICO" class="hr-text" />
        <span class="pt-2"></span>
        <div class="col-lg-10 pb-lg-0 pb-4">
          <div class="cell-background cell-padding">
            <strong>Nome: </strong>
            <br />
            <span>{{
              appointment.medic.name + " " + appointment.medic.surname
            }}</span>
          </div>
        </div>
        <div class="col-lg-2 pb-4">
          <div class="cell-background cell-padding">
            <strong>Nascimento: </strong>
            <br />
            <span>{{ appointment.medic.birthDate }}</span>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="cell-background cell-padding">
            <strong>CRM: </strong>
            <br />
            <span>{{ appointment.medic.crm }}</span>
          </div>
        </div>
        <div class="col-lg-4 pb-4">
          <div class="cell-background cell-padding">
            <strong>Tel. Residencial: </strong>
            <br />
            <span>{{
              appointment.medic.homePhone ? appointment.medic.homePhone : "-"
            }}</span>
          </div>
        </div>
        <div class="col-lg-4 pb-4">
          <div class="cell-background cell-padding">
            <strong>Tel. Celular: </strong>
            <br />
            <span>{{ appointment.medic.mobilePhone }}</span>
          </div>
        </div>
        <div class="col-lg-8 pb-4">
          <div class="cell-background cell-padding">
            <strong>E-Mail: </strong>
            <br />
            <span>{{ appointment.medic.email }}</span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal-footer"
      *ngIf="appointment.appointmentSituation === 'AGENDADO'"
    >
      <button
        type="button"
        class="btn btn-danger"
        data-bs-dismiss="modal"
        (click)="onDelete()"
      >
        Cancelar
      </button>
      <button
        type="button"
        class="btn btn-primary d-block"
        (click)="onUpdate()"
      >
        Editar
      </button>
    </div>
  </div>
</ng-template>
