<ng-template #template>
  <div class="modal-content">
    <div class="modal-header" [ngClass]="modalBackgroundColor()">
      <h5 class="modal-title">
        Agendamento ID {{ appointment.id }} —
        {{ appointmentHeader }}
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="close()"
      ></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xl-12 mb-4">
          <strong>Situação: </strong>
          <strong [ngStyle]="appointmentSituationTextColor()"
            ><span>{{ appointment.appointmentSituation }}</span></strong
          >
        </div>
        <hr data-content="MÉDICO" class="hr-text" />
        <div class="col-xl-8 mb-4">
          <div class="cell-background cell-padding">
            <strong>Nome: </strong>
            <br />
            <span>{{
              appointment.medic.name + " " + appointment.medic.surname
            }}</span>
          </div>
        </div>
        <div class="col-xl-4 mb-4">
          <div class="cell-background cell-padding">
            <strong>CRM: </strong>
            <br />
            <span>{{ appointment.medic.crm }}</span>
          </div>
        </div>
        <hr data-content="PACIENTE" class="hr-text" />
        <div class="col-xl-8 mb-4">
          <div class="cell-background cell-padding">
            <strong>Nome: </strong>
            <br />
            <span>{{
              appointment.patient.name + " " + appointment.patient.surname
            }}</span>
          </div>
        </div>
        <div class="col-xl-4 mb-4">
          <div class="cell-background cell-padding">
            <strong>Nascimento: </strong>
            <br />
            <span>{{ appointment.patient.birthDate }}</span>
          </div>
        </div>
        <div class="col-xl-3 mb-4">
          <div class="cell-background cell-padding">
            <strong>CPF: </strong>
            <br />
            <span>{{ appointment.patient.cpf }}</span>
          </div>
        </div>
        <div class="col-xl-3 mb-4">
          <div class="cell-background cell-padding">
            <strong>Tel. Celular: </strong>
            <br />
            <span>{{ appointment.patient.mobilePhone }}</span>
          </div>
        </div>
        <div class="col-xl-6 mb-4">
          <div class="cell-background cell-padding">
            <strong>E-mail: </strong>
            <br />
            <span>{{ appointment.patient.email }}</span>
          </div>
        </div>
        <div class="col-xl-3 mb-4">
          <div class="cell-background cell-padding">
            <strong>CEP: </strong>
            <br />
            <span>{{ appointment.patient.cep }}</span>
          </div>
        </div>
        <div class="col-xl-6 mb-4">
          <div class="cell-background cell-padding">
            <strong>Cidade: </strong>
            <br />
            <span>{{ appointment.patient.city }}</span>
          </div>
        </div>
        <div class="col-xl-3 mb-4">
          <div class="cell-background cell-padding">
            <strong>Estado: </strong>
            <br />
            <span>{{ appointment.patient.state }}</span>
          </div>
        </div>
        <div class="col-xl-5 mb-4">
          <div class="cell-background cell-padding">
            <strong>Endereço: </strong>
            <br />
            <span>{{ appointment.patient.address }}</span>
          </div>
        </div>
        <div class="col-xl-2 mb-4">
          <div class="cell-background cell-padding">
            <strong>Número: </strong>
            <br />
            <span>{{ appointment.patient.number }}</span>
          </div>
        </div>
        <div class="col-xl-5 mb-4">
          <div class="cell-background cell-padding">
            <strong>Bairro: </strong>
            <br />
            <span>{{ appointment.patient.district }}</span>
          </div>
        </div>
        <div class="col-xl-12">
          <div class="cell-background cell-padding">
            <strong>Complemento: </strong>
            <br />
            <span>{{ appointment.patient.complement }}</span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal-footer"
      *ngIf="appointment.appointmentSituation !== 'CANCELADO'"
    >
      <button
        type="button"
        class="btn btn-danger"
        data-bs-dismiss="modal"
        (click)="onDelete()"
      >
        Cancelar
      </button>
      <button
        type="button"
        class="btn btn-primary d-block"
        (click)="onUpdate()"
      >
        Editar
      </button>
    </div>
  </div>
</ng-template>
