<ng-template #template>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Modal title</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body">
      <p>Modal body text goes here.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()">Deletar</button>
      <button type="button" class="btn btn-primary d-block" (click)="update()">Editar</button>
    </div>
  </div>
</ng-template>

