/*.container-padding {
  padding-top: 7vh;
  padding-bottom: 3.5vh;
}

.icon-link {
  text-decoration: none;
  color: #727272;
}

.icon-link:hover {
  color: #727272;
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.25s;
}

.card {
  width: 16rem;
  border-width: 2px;
  border-radius: 15px;
}

.card-icon {
  font-size: 6.25rem;
}

.card:hover {
  border-color: #3f51b5;
  border-width: 2px;
  box-shadow:
    10px 10px 0px 0px hsl(0, 0%, 80%);
}

@media only screen and (hover: none) {

  .card {
    border-color: #3f51b5;
    border-width: 2px;
    box-shadow:
      10px 10px 0px 0px hsl(0, 0%, 80%);
  }

}

@media only screen and (max-width: 576px) {

  .container-padding {
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
  }

  .card {
    width: 12rem;
    height: 9rem;
  }

  .card-icon {
    font-size: 3.75rem;
  }

  .card-title {
    font-size: 1.15rem;
  }

}

@media only screen and (min-width: 577px) and (max-width: 1280px) {

  .card {
    width: 14rem;
    height: 11rem;
  }

  .card-icon {
    font-size: 4.85rem;
  }

  .card-title {
    font-size: 1.35rem;
  }

}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {

  .card {
    width: 15.5rem;
    height: 12.5rem;
  }

  .card-icon {
    font-size: 5.3rem;
  }

  .card-title {
    font-size: 1.5rem;
  }

}*/

.container-padding {
  padding-top: 7vh;
  padding-bottom: 3.5vh;
}

.icon-link {
  text-decoration: none;
  color: #727272;
}

.icon-link:hover {
  color: #727272;
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.25s;
}

.card {
  height: 11.6rem;
  width: 11.6rem;
  border-width: 2px;
  border-radius: 14px;
  border-width: 2px;
  box-shadow:
    10px 10px 0px 0px hsl(0, 0%, 90%);
}

.card-icon {
  margin-top: 0.5rem;
  font-size: 4.5rem;
}

.card-title {
  font-size: 1.35rem;
}

.card:hover {
  border-color: #3f51b5;
  border-width: 2px;
  box-shadow:
    10px 10px 0px 0px hsl(0, 0%, 80%);
}

@media only screen and (max-width: 1440px) {

  .container-padding {
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
  }

  .card {
    width: 10.3rem;
    height: 10.3rem;
  }

  .card-icon {
    margin-top: 0.5rem;
    font-size: 4.1rem;
  }

  .card-title {
    font-size: 1.15rem;
  }

}

@media only screen and (max-width: 1280px) {

  .container-padding {
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
  }

  .card {
    width: 10rem;
    height: 10rem;
  }

  .card-icon {
    margin-top: 0.5rem;
    font-size: 3.7rem;
  }

  .card-title {
    font-size: 1.15rem;
  }

}

@media only screen and (max-width: 576px) {

  .container-padding {
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
  }

  .card {
    width: 10rem;
    height: 10rem;
  }

  .card-icon {
    font-size: 3.75rem;
  }

  .card-title {
    font-size: 1.15rem;
  }

}

@media only screen and (hover: none) {

  .card {
    border-color: #3f51b5;
    border-width: 2px;
    box-shadow:
      10px 10px 0px 0px hsl(0, 0%, 80%);
  }

}
