<h1 class="mt-4">{{ formType }} Atendimento</h1>
<form class="mt-4 needs-validation" novalidate [formGroup]="form">
  <tabset #staticTabs>
    <tab heading="Informações" id="tab1">
      <div class="row g-3">
        <div class="col-xl-12" class="pt-4">
          <label for="checkUpHeader" class="form-label">Atendimento:</label>
          <ng-select
            [items]="checkUpHeaders"
            bindLabel="searchLabel"
            labelForId="checkUpHeader"
            placeholder="Selecione o atendimento"
            clearAllText="Limpar"
            formControlName="checkUpHeader"
            [compareWith]="compareFnCheckUpHeaders"
            [loading]="checkUpHeadersLoading"
            loadingText="Carregando..."
            notFoundText="Nenhum item encontrado"
            [virtualScroll]="true"
            (change)="onSelectChange($event)"
            [readonly]="true"
            [ngClass]="
              submitted
                ? applyValidationClass('checkUpHeader', true)
                : 'ng-untouched'
            "
          >
            <ng-template ng-label-tmp let-item="item">
              {{ "Atendimento ID " + item.id }}
            </ng-template>
            <ng-template
              ng-option-tmp
              let-item="item"
              let-index="index"
              let-search="searchTerm"
            >
              <div style="margin: 10px 0" class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ "Atendimento ID " + item.id }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    Paciente:
                    {{ item.patient.name + " " + item.patient.surname }}
                  </h6>
                  <h6 class="card-subtitle mb-2 text-muted">
                    Médico: {{ item.medic.name + " " + item.medic.surname }}
                  </h6>
                </div>
              </div>
            </ng-template>
          </ng-select>
          <div class="ng-select-invalid-feedback">Campo é obrigatório.</div>
          <div class="ng-select-valid-feedback">Parece bom.</div>
        </div>
        <div class="col-xl-12">
          <label for="complaint" class="form-label">Queixa:</label>
          <textarea
            class="form-control"
            formControlName="complaint"
            id="complaint"
            rows="3"
            [ngClass]="applyValidationClass('complaint')"
          ></textarea>
          <div
            class="invalid-feedback"
            *ngIf="form.get('complaint').errors?.['required']"
          >
            Campo é obrigatório.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="form.get('complaint').errors?.['maxlength']"
          >
            Campo deve possuir no máximo 300 caracteres.
          </div>
          <div class="valid-feedback">Parece bom.</div>
        </div>
        <div class="col-xl-12">
          <label for="diseaseHistory" class="form-label"
            >História da Doença:</label
          >
          <textarea
            class="form-control"
            formControlName="diseaseHistory"
            id="diseaseHistory"
            rows="3"
            [ngClass]="applyValidationClass('diseaseHistory')"
          ></textarea>
          <div
            class="invalid-feedback"
            *ngIf="form.get('diseaseHistory').errors?.['required']"
          >
            Campo é obrigatório.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="form.get('diseaseHistory').errors?.['maxlength']"
          >
            Campo deve possuir no máximo 500 caracteres.
          </div>
          <div class="valid-feedback">Parece bom.</div>
        </div>
        <div class="col-xl-12">
          <label for="familyHistory" class="form-label"
            >História da Família:</label
          >
          <textarea
            class="form-control"
            formControlName="familyHistory"
            id="familyHistory"
            rows="3"
            [ngClass]="applyValidationClass('familyHistory')"
          ></textarea>
          <div
            class="invalid-feedback"
            *ngIf="form.get('familyHistory').errors?.['required']"
          >
            Campo é obrigatório.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="form.get('familyHistory').errors?.['maxlength']"
          >
            Campo deve possuir no máximo 500 caracteres.
          </div>
          <div class="valid-feedback">Parece bom.</div>
        </div>
        <div class="col-xl-12">
          <label for="patientHistory" class="form-label"
            >Histórico Pessoal:</label
          >
          <textarea
            class="form-control"
            formControlName="patientHistory"
            id="patientHistory"
            rows="3"
            [ngClass]="applyValidationClass('patientHistory')"
          ></textarea>
          <div
            class="invalid-feedback"
            *ngIf="form.get('patientHistory').errors?.['required']"
          >
            Campo é obrigatório.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="form.get('patientHistory').errors?.['maxlength']"
          >
            Campo deve possuir no máximo 500 caracteres.
          </div>
          <div class="valid-feedback">Parece bom.</div>
        </div>
        <div class="col-xl-12">
          <label for="role" class="form-label">CID</label>
          <ng-select
            formControlName="disease"
            [items]="diseases"
            bindLabel="description"
            labelForId="role"
            placeholder="Selecione a doença"
            clearAllText="Limpar"
            [compareWith]="compareFnDiseases"
            [loading]="diseasesLoading"
            loadingText="Carregando..."
            notFoundText="Nenhum item encontrado"
            [virtualScroll]="true"
            [ngClass]="
              submitted
                ? applyValidationClass('specialty', true)
                : 'ng-untouched'
            "
          >
          </ng-select>
          <div class="ng-select-invalid-feedback">Campo é obrigatório.</div>
          <div class="ng-select-valid-feedback">Parece bom.</div>
        </div>
        <div class="col-xl-12">
          <label for="conduct" class="form-label">Conduta:</label>
          <textarea
            class="form-control"
            formControlName="conduct"
            id="conduct"
            rows="3"
            [ngClass]="applyValidationClass('conduct')"
          ></textarea>
          <div
            class="invalid-feedback"
            *ngIf="form.get('conduct').errors?.['required']"
          >
            Campo é obrigatório.
          </div>
          <div class="valid-feedback">Parece bom.</div>
        </div>
        <div class="pt-4 mb-5">
          <button type="submit" class="btn btn-primary" (click)="selectTab(1)">
            Próximo
          </button>
          <button
            type="button"
            class="ms-2 btn btn-danger"
            [routerLink]="
              formType === 'Novo'
                ? ['/atendimentos']
                : [
                    '/pep/paciente',
                    form.get('checkUpHeader').value['patient']['id']
                  ]
            "
            [queryParams]="formType === 'Novo' ? { pagina: 1 } : {}"
          >
            Cancelar
          </button>
        </div>
      </div>
    </tab>
    <tab heading="Receituário" id="tab2">
      <div class="row g-3">
        <div class="col-xl-12 pt-4">
          <label for="prescription" class="form-label">Receituário:</label>
          <textarea
            class="form-control"
            formControlName="prescription"
            id="prescription"
            rows="5"
            [ngClass]="applyValidationClass('prescription')"
          ></textarea>
          <div
            class="invalid-feedback"
            *ngIf="form.get('prescription').errors?.['required']"
          >
            Campo é obrigatório.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="form.get('prescription').errors?.['maxlength']"
          >
            Campo deve possuir no máximo 500 caracteres.
          </div>
          <div class="valid-feedback">Parece bom.</div>
        </div>
        <div class="pt-4 mb-5">
          <button type="submit" class="btn btn-primary" (click)="selectTab(2)">
            Próximo
          </button>
          <button
            type="button"
            class="ms-2 btn btn-danger"
            [routerLink]="
              formType === 'Novo'
                ? ['/atendimentos']
                : [
                    '/pep/paciente',
                    form.get('checkUpHeader').value['patient']['id']
                  ]
            "
            [queryParams]="formType === 'Novo' ? { pagina: 1 } : {}"
          >
            Cancelar
          </button>
        </div>
      </div>
    </tab>
    <tab heading="Exames" id="tab3">
      <div class="row g-3">
        <div class="col-xl-12 pt-4">
          <label for="exams" class="form-label">Exames:</label>
          <textarea
            class="form-control"
            formControlName="exams"
            id="exams"
            rows="5"
            [ngClass]="applyValidationClass('exams')"
          ></textarea>
          <div
            class="invalid-feedback"
            *ngIf="form.get('exams').errors?.['required']"
          >
            Campo é obrigatório.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="form.get('exams').errors?.['maxlength']"
          >
            Campo deve possuir no máximo 500 caracteres.
          </div>
          <div class="valid-feedback">Parece bom.</div>
        </div>
        <div class="pt-4 mb-5">
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">
            Salvar
          </button>
          <button
            type="button"
            class="ms-2 btn btn-danger"
            [routerLink]="
              formType === 'Novo'
                ? ['/atendimentos']
                : [
                    '/pep/paciente',
                    form.get('checkUpHeader').value['patient']['id']
                  ]
            "
            [queryParams]="formType === 'Novo' ? { pagina: 1 } : {}"
          >
            Cancelar
          </button>
        </div>
      </div>
    </tab>
  </tabset>
</form>
