<h1 class="mt-4">Visualizar Exame</h1>
<div>
  <h4 class="pt-4">Exame</h4>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">ID:</dt>
    <dd class="col-sm-10">
      {{ exam.id }}
    </dd>
    <dt class="col-sm-2">Descrição:</dt>
    <dd class="col-sm-10">
      {{ exam.description }}
    </dd>
  </dl>
</div>
<div class="pt-4 mb-5">
  <button
    type="button"
    class="btn btn-primary"
    [routerLink]="['../../editar/', exam.id]"
  >
    Editar
  </button>
  <button
    type="button"
    class="ms-2 btn btn-secondary"
    [routerLink]="['/exames']"
    [queryParams]="{ pagina: 1 }"
  >
    Voltar a Lista
  </button>
</div>
