<!--<img src="../assets/images/background.jpg" style="position: fixed">-->
<div class="body">
  <div class="bg">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
          <img
            src="../assets/images/medic-logo.jpg"
            style="border-radius: 100%"
            id="icon"
            alt="User Icon"
          />
        </div>
        <!-- Login Form -->
        <form class="needs-validation" novalidate [formGroup]="form">
          <input
            type="text"
            class="form-control fadeIn second"
            id="username"
            formControlName="username"
            placeholder="Usuário"
            [ngClass]="applyValidationClass('username')"
          />
          <div
            class="invalid-feedback"
            *ngIf="form.get('username').errors?.['required']"
          ></div>
          <input
            type="password"
            class="form-control fadeIn third"
            id="password"
            formControlName="password"
            placeholder="Senha"
            [ngClass]="applyValidationClass('password')"
          />
          <div
            class="invalid-feedback"
            *ngIf="form.get('username').errors?.['required']"
          ></div>
          <input
            type="submit"
            class="mt-4 fadeIn fourth"
            value="Logar"
            (click)="login()"
          />
        </form>
      </div>
    </div>
  </div>
</div>
