<div
  class="alert alert-{{ type }} alert-dismissible fade show mb-0"
  role="alert"
>
  <strong>{{ title }}</strong>
  <br />
  {{ description }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
    (click)="onClose()"
  ></button>
  <!--<div *ngIf="type === 'danger'" class="pt-3">
    <hr style="margin: 0; padding: 0" />
    <a
      class="mt-3 btn btn-outline btn-sm"
      data-bs-toggle="collapse"
      href="#errorCollapse"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Expandir <i class="fas fa-angle-down"></i>
    </a>
    <div class="pt-2 collapse" id="errorCollapse" style="font-size: 14px">
      <div>Mensagem: {{ error.error.message }}</div>
    </div>
  </div>-->
</div>
