<div class="d-flex flex-column h-100">
  <h1 class="text-center pt-5 display-4">Bem-vindo(a) de volta!</h1>
  <div class="container" style="padding-top: 7.5vh; padding-bottom: 3.5vh;">
    <div class="row">
      <div class="pb-5 pt-3 pt-lg-0 col-12 col-lg-4 d-flex justify-content-center">
        <a [routerLink]="['/pacientes']" [queryParams]="{ pagina: 1 }" class="icon-link">
          <div class="card">
            <div class="text-center card-icon"><i class="fas fa-head-side-mask"></i></div>
            <div class="card-body">
              <h5 class="text-center card-title h3">Pacientes</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="pb-5 pt-3 pt-lg-0 col-12 col-lg-4 d-flex justify-content-center">
        <a [routerLink]="['/medicos']" [queryParams]="{ pagina: 1 }" class="icon-link">
          <div class="card">
            <div class="text-center card-icon"><i class="fas fa-user-md"></i></div>
            <div class="card-body">
              <h5 class="text-center card-title h3">Médicos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="pb-5 pt-3 pt-lg-0 col-12 col-lg-4 d-flex justify-content-center">
        <a asp-area="" asp-controller="Funcionarios" asp-action="Index" class="icon-link">
          <div class="card">
            <div class="text-center card-icon"><i class="fas fa-user-tie"></i></div>
            <div class="card-body">
              <h5 class="text-center card-title h3">Funcionários</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row mt-lg-2 mt-xl-3 mt-xxl-3">
      <div class="pb-5 pt-3 pt-lg-0 col-12 col-lg-4 d-flex justify-content-center">
        <a asp-area="" asp-controller="Agendamentos" asp-action="Index" class="icon-link">
          <div class="card">
            <div class="text-center card-icon"><i class="fas fa-calendar-check"></i></div>
            <div class="card-body">
              <h5 class="text-center card-title h3">Agendamentos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="pb-5 pt-3 pt-lg-0 col-12 col-lg-4 d-flex justify-content-center">
        <a asp-area="" asp-controller="Produtos" asp-action="Index" class="icon-link">
          <div class="card">
            <div class="text-center card-icon"><i class="fas fa-box"></i></div>
            <div class="card-body">
              <h5 class="text-center card-title h3">Produtos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="pb-5 pt-3 pt-lg-0 col-12 col-lg-4 d-flex justify-content-center">
        <a asp-area="" asp-controller="Movimentacoes" asp-action="Index" class="icon-link">
          <div class="card">
            <div class="text-center card-icon"><i class="fas fa-exchange-alt"></i></div>
            <div class="card-body">
              <h5 class="text-center card-title h3">Movimentações</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
